.Balance {
  margin: 0 auto;
  padding: 4rem 0;
  background: #c9d4de;
}

.Balance-title {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: normal;
  font-size: 19px;
}

.Balance-total {
  display: block;
  margin: 1rem auto;
  font-size: 3rem;
  font-weight: 300;
}

.Balance-alt {
  margin-top: 2rem;
  font-size: 19px;
}

.Balance-alt select {
  margin-left: 0.5rem;
  padding: 10px;
  width: 150px;
  border-radius: 4px;
}
